**/*.h5ad
**/*.tsv
**/*.csv
**/*.mtx
**/*.tar
**/*.gz
**/*.png
**/*.sh
**/*.out
**/*.bin
**/*.json
**/*.arrow
**/*.pyc

**/wandb/
**/save/
**/obo_models/**
**/obo_files/**
**/zero-shot/**
**/__pycache__/**